.advantage__title {
  margin-top: 23px;
  margin-bottom: 25px;
  margin-left: 20px;

  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}

.advantage__list {
  padding-left: 20px;

  list-style: none;
}

.advantage__item {
  position: relative;

  margin-bottom: 6px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: "Arial", "Helvetica", sans-serif;
}

.advantage__item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  display: block;
  width: 60px;
  height: 60px;
  margin-right: 20px;

  background-color: $color-green;
  background-size: 50px 50px;
}

.advantage__item--leaf::before {
  background-image: url("../img/advantage-leaf@1x.png");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-leaf@2x.png");
  }
}

.advantage__item--powder::before {
  background-image: url("../img/advantage-powder@1x.png");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-powder@2x.png");
  }
}

.advantage__item--dining::before {
  background-image: url("../img/advantage-dining@1x.png");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-dining@2x.png");
  }
}

.advantage__item--clock::before {
  background-image: url("../img/advantage-clock@1x.png");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-clock@2x.png");
  }
}

.advantage__text {
  max-width: 200px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 80px;

  color: $color-bluish-black;
  letter-spacing: -0.2px;
}

/* =====================================================================================
Media min-width: 768px*/
@media (min-width: $tablet-width) {
  .advantage__title {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 0;

    font-size: 60px;
  }

  .advantage__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-top: 25px;
    padding-left: 0;
  }

  .advantage__item {
    max-width: 325px;
    width: 100%;
    margin-bottom: 45px;
    padding-top: 150px;
    padding-bottom: 50px;
  }

  .advantage__item::before {
    top: 38px;

    width: 80px;
    height: 80px;
  }

  .advantage__item--leaf::after {
    content: "1";
    position: absolute;
    top: 130px;
    left: 117px;
    z-index: -1;

    display: block;
    height: 228px;
    width: 71px;

    font-family: "Oswald", "Helvetica", sans-serif;
    font-size: 281px;
    color: $color-smoky-white;
  }

  .advantage__item--powder::after {
    content: "2";
    position: absolute;
    top: 130px;
    left: 112px;
    z-index: -1;

    display: block;
    height: 230px;
    width: 114px;

    font-family: "Oswald", "Helvetica", sans-serif;
    font-size: 281px;
    color: $color-smoky-white;
  }

  .advantage__item--dining::after {
    content: "3";
    position: absolute;
    top: 130px;
    left: 114px;
    z-index: -1;

    display: block;
    height: 233px;
    width: 113px;

    font-family: "Oswald", "Helvetica", sans-serif;
    font-size: 281px;
    color: $color-smoky-white;
  }

  .advantage__item--clock::after {
    content: "4";
    position: absolute;
    top: 130px;
    left: 114px;
    z-index: -1;

    display: block;
    height: 228px;
    width: 121px;

    font-family: "Oswald", "Helvetica", sans-serif;
    font-size: 281px;
    color: $color-smoky-white;
  }

  .advantage__text {
    margin-left: 0;
    max-width: 260px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
  }
}

/* =====================================================================================
Media min-width: 1300px*/
@media (min-width: $desktop-width) {
  .advantage__title {
    margin-top: 47px;
  }

  .advantage__list {
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  .advantage__item {
    max-width: 245px;
    margin-bottom: 0;

    &::before {
      top: 40px;
    }
  }

  .advantage__text {
    max-width: 245px;
  }
}
