.btn-page {
  display: block;
  max-width: 280px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  color: $color-white;
  background-color: $color-green;
  border: transparent;

  &:hover,
  &:focus {
    background-color: $color-green-grass;
  }

  &:active {
    color: rgba($color-white, 0.3);
  }
}

.btn-page--grey {
  color: $color-bluish-black;
  background-color: $color-smoky-white;

  &:hover,
  &:focus {
    background-color: $color-grey;
  }

  &:active {
    color: rgba($color-bluish-black, 0.3);
  }
}
