.catalog-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;

  list-style: none;
}

.catalog-list__content {
  display: flex;
  justify-content: space-between;
}

.catalog-list__item {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 24px;

  border: 1px solid #ededed;
  border-bottom: transparent;
}

.catalog-list__item:last-child {
  padding-top: 26px;

  text-align: center;

  border: 1px solid #ededed;

  .catalog-list__title {
    max-width: 100%;
    margin-top: 18px;
    margin-bottom: 8px;
  }

  .catalog-list__text {
    display: block;
    margin-bottom: 26px;

    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.15px;

    color: #444444;
  }
}

.catalog-list__inner {
  padding-right: 20px;
  padding-left: 20px;
}

.catalog-list__img-block {
  margin-top: -5px;
}

.catalog-list__btn {
  margin-top: -1px;
}

.catalog-list__info-block {
  width: 140px;
}

.catalog-list__title {
  max-width: 80px;
  margin-top: 16px;
  margin-bottom: 13px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  color: #111111;
}

/* =====================================================================================
Media min-width: 768px*/
@media (min-width: 768px) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 136px;
  }

  .catalog-list__item {
    max-width: 325px;
    margin-right: 58px;
    margin-bottom: 139px;
    padding-bottom: 40px;

    background-color: #f2f2f2;
    border: transparent;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .catalog-list__link {
    display: flex;
  }

  .catalog-list__item:last-child {
    padding-top: 68px;

    background-color: #ffffff;

    .catalog-list__title {
      max-width: 170px;
      margin-top: 60px;
      margin-bottom: 23px;
    }

    .catalog-list__text {
      margin: 0 auto;
      max-width: 180px;
      margin-bottom: 88px;

      font-size: 16px;
      line-height: 20px;
    }
  }

  .catalog-list__title {
    max-width: 130px;
    margin: 0 auto;
    margin-top: 17px;
    margin-bottom: 27px;

    font-size: 20px;
  }

  .catalog-list__inner {
    width: 249px;
    margin: 0 auto;
    padding: 0;
  }

  .catalog-list__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .catalog-list__info-block {
    width: 100%;
    margin-top: 38px;
    margin-bottom: 30px;

    text-align: center;
  }

  .catalog-list__btn {
    max-width: 251px;
  }
}

/* =====================================================================================
Media min-width: 1300px*/
@media (min-width: 1300px) {
  .catalog-list__item {
    max-width: 245px;
    margin-right: 80px;
    margin-bottom: 141px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .catalog-list__inner {
    max-width: 169px;
  }

  .catalog-list__item:nth-child(2n) .catalog-list__info-block {
    margin-top: 66px;
  }
}
