.catalog {
  padding-top: 0;
  padding-bottom: 25px;
}

.catalog-title {
  margin-top: 15px;
  margin-bottom: 28px;
  padding-left: 20px;

  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  color: $color-black;
}

/* =====================================================================================
Media min-width: 768px*/
@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 40px;
  }

  .catalog-title {
    padding: 0;

    font-size: 60px;
    line-height: 60px;
  }
}

/* =====================================================================================
Media min-width: 1300px*/
@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 56px;
  }
}
