.catalog-title {
  margin-top: 15px;
  margin-bottom: 28px;
  margin-left: 20px;
  padding: 0;

  font-size: 36px;
  line-height: 60px;
}

.catalog-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list__item {
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;

  border-bottom: 1px solid $color-grey2;
}

.catalog-list__item:first-child {
  border-top: 1px solid $color-grey2;
}

.catalog-list__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-list__img {
  display: block;
}

.catalog-list__box-text {
  max-width: 140px;
  width: 100%;
}

.catalog-list__title {
  max-width: 100px;
  margin-top: 0;
  margin-bottom: 12px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-black;
}

.catalog-list__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $color-bluish-black;
}

/* =====================================================================================
Media min-width: 768px*/
@media (min-width: $tablet-width) {
  .catalog-title {
    margin-bottom: 66px;
    margin-left: 0;

    font-size: 60px;
    line-height: 60px;
  }

  .catalog-list {
    display: flex;
    margin-bottom: 100px;
    padding-top: 100px;
  }

  .catalog-list__item {
    max-width: 324px;
    width: 100%;
    padding-bottom: 39px;

    background-color: $color-smoky-white;
  }

  .catalog-list__item-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 474px;
    margin-top: -83px;
  }

  .catalog-list__content {
    flex-direction: column;
  }

  .catalog-list__item:nth-child(2n) {
    margin-left: 60px;
  }

  .catalog-list__link {
    margin-right: -20px;
    margin-left: -20px;
  }

  .catalog-list__box-text {
    max-width: 249px;
    margin-bottom: 32px;
  }

  .catalog-list__title {
    max-width: 150px;
    margin-top: 37px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .catalog-list__text {
    padding-top: 7px;
    padding-bottom: 8px;

    font-size: 16px;
    line-height: 16px;

    border-bottom: 1px solid $color-border-hover;
  }
}
