.contacts-list__item {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 14px;
}

.contacts-list__item:first-child {
  .contacts-list__input {
    margin-left: 14px;
  }
}

.contacts-list__label {
  color: $color-black2;
}

.contacts-list__input {
  width: 100%;
  min-width: 100px;
  margin-left: 11px;
  padding-top: 12px;
  padding-right: 30px;
  padding-bottom: 12px;
  padding-left: 14px;

  border: 1px solid $color-grey4;

  &:hover {
    border: 1px solid $color-border-hover;
  }

  &:focus {
    border: 1px solid $color-bluish-black;
    outline: none;
  }
}

.contacts-list__input::placeholder {
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;

  color: $color-bluish-black;
}

.contacts-list__icon-mail,
.contacts-list__icon-phone {
  position: absolute;

  fill: $color-black2;
}

.contacts-list__icon-mail {
  top: 15px;
  right: 16px;
}

.contacts-list__icon-phone {
  top: 13px;
  right: 13px;
}

.contacts-list__input:focus + .contacts-list__icon-mail,
.contacts-list__input:focus + .contacts-list__icon-phone {
  fill: $color-green;
}

// .contacts-list__input:invalid + .contacts-list__icon-mail,
// .contacts-list__input:invalid + .contacts-list__icon-phone {
//   fill: red;
// }

/* =====================================================================================
Media min-width: 768px*/
@media (min-width: $tablet-width) {
  .contacts-list__item {
    margin-bottom: 20px;
  }

  .contacts-list__item:nth-child(2) .contacts-list__label {
    margin-left: -3px;
  }

  .contacts-list__item:first-child .contacts-list__input {
    margin-left: 19px;
  }

  .contacts-list__item:nth-child(2) .contacts-list__input {
    margin-left: 16px;
  }

  .contacts-list__input {
    margin-left: 19px;
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 20px;
  }

  .contacts-list__icon-mail {
    top: 20px;
    right: 20px;
  }

  .contacts-list__icon-phone {
    top: 17px;
    right: 17px;
  }
}

/* =====================================================================================
Media min-width: 1300px*/
@media (min-width: $desktop-width) {
  .contacts-list {
    display: flex;
    justify-content: space-between;
  }

  .contacts-list__item {
    margin-bottom: 0;
    max-width: 570px;
    width: 100%;
  }

  .contacts-list__item:first-child .contacts-list__input {
    margin-left: 21px;
  }

  .contacts-list__item:nth-child(2) .contacts-list__input {
    margin-left: 17px;
  }
}
