.example-slider {
  padding-bottom: 36px;
}

.example-slider__after-block {
  display: none;
}

.example-slider__before-block {
  margin-bottom: 30px;
}

.example-slider__btn-block {
  display: flex;
  justify-content: space-between;

  margin-top: 2px;
  margin-right: 59px;
  margin-left: 63px;
  align-items: center;
}

.example-slider__btn {
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  background: transparent;
  border: transparent;
  cursor: pointer;
}

.example-slider__progress-line {
  position: relative;

  width: 84px;
  height: 14px;

  border: 1px solid $color-border-hover;
  background-color: $color-white;
  border-radius: 50px;
}

.example-slider__line-circle {
  width: 0;

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 6px;

    width: 36px;
    height: 6px;

    background-color: $color-green;
    border-radius: 50px;
  }
}


/* =====================================================================================
Media min-width: 768px*/
@media (min-width: $tablet-width) {
  .example-slider {
    z-index: 1;

    position: relative;

    display: flex;
    justify-content: center;
    width: 610px;
    margin-left: 56px;
    padding-bottom: 114px;

    &::before {
      content: "";
      position: absolute;
      top: 169px;
      left: 49%;

      height: 73.5%;
      width: 100%;

      background-color: $color-light-grey2;
    }

    &::after {
      z-index: -1;
      content: "";
      position: absolute;
      top: 169px;
      right: 51%;

      height: 73.5%;
      width: 100%;

      background-color: $color-smoky-white;
    }
  }

  .example-slider__inner {
    position: relative;

    flex-grow: 1;
    flex-shrink: 0;
    height: 517px;
  }

  .example-slider__before-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 49%;
    margin-bottom: 0;

    overflow: hidden;
  }

  .example-slider__before-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -40px;

    max-width: none;
  }

  .example-slider__after-block {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    display: block;
    width: 51%;

    overflow: hidden;
  }

  .example-slider__after-img {
    position: absolute;
    right: -40px;
    top: 0;
    bottom: 0;

    max-width: none;
  }

  .example-slider__btn-block {
    position: absolute;
    bottom: 67px;
    left: 13px;

    width: 570px;
    margin: 0;
  }

  .example-slider__btn {
    padding-bottom: 5px;

    font-size: 20px;
    line-height: 20px;

    border-top: transparent;
    border-right: transparent;
    border-bottom: 1px dotted #bebebe;
    border-left: transparent;
  }

  .example-slider__btn:hover,
  .example-slider__btn:focus {
    border-bottom: 1px solid #989898;
  }

  .example-slider__btn:active {
    border-bottom: transparent;
  }

  .example-slider__progress-line {
    width: 430px;
    height: 6px;
    margin-bottom: 5px;

    background-color: $color-grey5;
    border: none;
  }

  .example-slider__line-circle {
    position: absolute;
    bottom: -14px;
    left: 201px;

    display: block;
    width: 32px;
    height: 32px;

    background-color: $color-white;
    border-radius: 50%;
    border: 1px solid $color-grey5;

    cursor: pointer;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 12px;
      left: 12px;
    }

    &:hover,
    :focus {
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);
    }

    &:active {
      box-shadow: inset 0 0 0 2px $color-green;
    }
  }
}

/* =====================================================================================
Media min-width: 1300px*/
@media (min-width: $desktop-width) {
  .example-slider {
    margin-top: -214px;
    margin-left: 175px;
    padding-top: 0;

    &::before {
      top: 191px;
      left: 53.5%;

      height: 100%;
    }

    &::after {
      display: none;
    }
  }

  .example-slider__before-block {
    width: 53.5%;
  }

  .example-slider__after-block {
    width: 46.5%;
  }

  .example-slider__btn-block {
    bottom: 46px;
    left: 40px;
  }

  .example-slider__progress-line {
    margin-bottom: 9px;
  }
}
