.extra-products {
  border-top: 3px solid #68b738;
}

.extra-products__title {
  max-width: 267px;
  margin-top: -17px;
  margin-bottom: 34px;
  padding-left: 19px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #111111;

  background-color: #ffffff;
}

.extra-products__gift {
  position: relative;

  min-height: 289px;
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  margin-top: 57px;
  padding-top: 10px;

  text-align: center;

  background-color: #71b548;
}

.extra-products__gift::before {
  content: "";
  position: absolute;
  top: 66px;
  left: 114px;

  display: block;
  height: 60px;
  width: 55px;

  background-image: url("https://via.placeholder.com/55x60");
}

.extra-products__text {
  max-width: 170px;
  margin-left: 55px;
  margin-top: 177px;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
}

/* =====================================================================================
Media min-width: 768px*/
@media (min-width: 768px) {
  .extra-products__title {
    max-width: 413px;
    margin-top: -26px;
    margin-bottom: 81px;
    margin-left: -2px;
    padding-left: 39px;

    font-size: 36px;
    line-height: 36px;
  }

  .extra-products__btn {
    max-width: 635px;
  }

  .extra-products__gift {
    margin-top: 70px;
    min-height: 200px;
    max-width: 708px;

    text-align: left;
  }

  .extra-products__gift::before {
    top: 66px;
    left: 91px;
  }

  .extra-products__text {
    margin-top: 62px;
    margin-left: auto;
    margin-right: 115px;
  }
}

/* =====================================================================================
Media min-width: 1300px*/
@media (min-width: 1300px) {
  .extra-products__title {
    margin-bottom: 64px;
    margin-left: -40px;
  }

  .extra-products__btn {
    max-width: 245px;
  }

  .extra-products__inner {
    display: flex;
    justify-content: space-between;
  }

  .extra-products__gift {
    min-height: 289px;
    max-width: 245px;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 16px;

    text-align: center;
  }

  .extra-products__gift::before {
    left: 95px;
  }

  .extra-products__text {
    max-width: 180px;
    width: 100%;

    margin-top: 177px;
    margin-left: 31px;
  }
}
