.extra-products {
  overflow: hidden;
}

.extra-products__title {
  position: relative;

  max-width: 267px;
  margin-top: 24px;
  margin-bottom: 34px;
  padding-left: 19px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $color-black;

  background-color: $color-white;

  &::after {
    content: "";
    position: absolute;
    top: 0;

    width: 100vw;
    height: 3px;
    margin-top: 14px;
    margin-left: 23px;

    background-color: $color-green;
    z-index: -1;
  }
}

.extra-products__gift {
  position: relative;

  min-height: 289px;
  max-width: 280px;
  width: 100%;
  margin-top: 57px;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
  padding-top: 10px;

  text-align: center;

  background-color: $color-green2;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.extra-products__gift::before {
  content: "";
  position: absolute;
  top: 66px;
  left: 114px;

  display: block;
  height: 60px;
  width: 55px;

  fill: $color-white;
  background-image: url("../img/icon-gift.svg");
}

.extra-products__text {
  max-width: 170px;
  margin-left: 55px;
  margin-top: 177px;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;

  color: $color-white;
}

/* =====================================================================================
Media min-width: 768px*/
@media (min-width: $tablet-width) {
  .extra-products__title {
    max-width: 413px;
    margin-top: 37px;
    margin-bottom: 80px;
    padding-left: 37px;

    font-size: 36px;
    line-height: 36px;

    &::after {
      top: 9px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;

      width: 100vw;
      height: 3px;
      margin-top: 22px;
      margin-right: 2px;

      background-color: $color-green;
      z-index: -1;
    }
  }

  .extra-products__btn-page {
    max-width: 635px;
  }

  .extra-products__gift {
    margin-top: 70px;
    min-height: 200px;
    max-width: 708px;
    margin-bottom: 76px;

    text-align: left;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .extra-products__gift::before {
    top: 66px;
    left: 91px;
  }

  .extra-products__text {
    margin-top: 62px;
    margin-left: auto;
    margin-right: 115px;
  }
}

/* =====================================================================================
Media min-width: 1300px*/
@media (min-width: $desktop-width) {
  .extra-products {
    padding-bottom: 71px;
  }

  .extra-products__title {
    margin-bottom: 66px;
    margin-left: -38px;
  }

  .extra-products__btn-page {
    max-width: 245px;
  }

  .extra-products__inner {
    display: flex;
    justify-content: space-between;
  }

  .extra-products__gift {
    min-height: 289px;
    max-width: 245px;
    margin: 0;
    margin-top: 14px;
    margin-bottom: 16px;

    text-align: center;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .extra-products__gift::before {
    left: 95px;
  }

  .extra-products__text {
    max-width: 180px;
    width: 100%;

    margin-top: 177px;
    margin-left: 31px;
  }
}
