.footer__logo {
  max-width: 128px;
  width: 100%;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 28px;
}

.footer__html-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 282px;
  width: 100%;
  margin: 0 auto;
  padding-top: 22px;
}
