.header__link {
  display: block;
  margin-left: 20px;
  padding-bottom: 14px;
}

.header__img {
  height: 38px;
  width: 191px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

/* =====================================================================================
Media min-width: 768px*/
@media (min-width: $tablet-width) {
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__link {
    margin-left: 0;
    padding: 0;
  }

  .header__img {
    height: 58px;
    width: 173px;
  }
}

/* =====================================================================================
Media min-width: 1300px*/
@media (min-width: $desktop-width) {
  .header__img {
    height: 59px;
    width: 202px;
  }
}
