.inform-list__item {
  display: flex;
  align-items: center;

  margin-bottom: 14px;
}

.inform-list__label {
  white-space: nowrap;
}

.inform-list__input {
  width: 100%;
  min-width: 100px;
  margin-left: 16px;
  padding-top: 12px;
  padding-left: 14px;
  padding-bottom: 13px;

  border: 1px solid #e6e6e6;

  flex-grow: 1;

  &::placeholder {
    font-size: inherit;
    line-height: inherit;
    text-transform: uppercase;

    color: #444444;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 1px solid #444444;
    outline: none;
  }
}

.inform-list__item:nth-child(2) .inform-list__input {
  margin-left: 18px;
}

/* =====================================================================================
Media min-width: 768px*/
@media (min-width: 768px) {
  .inform-list__item {
    margin-bottom: 20px;
  }

  .inform-list__item:nth-child(2) .inform-list__input {
    margin-left: 19px;
  }

  .inform-list__input {
    margin-left: 16px;
    padding-top: 13px;
    padding-left: 19px;
    padding-bottom: 14px;
  }
}

/* =====================================================================================
Media min-width: 1300px*/
@media (min-width: 1300px) {
  .inform-list__item:nth-child(2) .inform-list__input {
    margin-left: 21px;
  }

  .inform-list__input {
    margin-left: 17px;
  }
}
