.intro {
  position: relative;

  margin-top: 0;
  padding-top: 26px;
  padding-bottom: 22px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    width: 100%;
    min-height: 305px;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-size: cover;
  }
}

.intro__inner {
  text-align: center;

  z-index: 100;
}

.intro__title {
  max-width: 275px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $color-white;
}

.intro__text {
  margin-bottom: 29px;

  line-height: 14px;
  text-transform: uppercase;
  color: $color-white;
}

.intro__picture {
  display: block;
  margin: 0 auto;
}

.intro__link {
  display: block;
  margin: 0 auto;
  padding-bottom: 11px;

  font-size: 14px;
  line-height: 18px;
}

/* =====================================================================================
Media min-width: 768px*/
@media (min-width: $tablet-width) {
  .intro {
    padding-top: 54px;
    padding-bottom: 530px;

    &::before {
      display: none;
    }
  }

  .intro__inner {
    position: relative;

    padding-left: 87px;

    text-align: left;
  }

  .intro__title {
    max-width: 415px;
    width: 100%;
    margin-bottom: 42px;
    margin-left: 0;

    font-size: 60px;
    line-height: 60px;
    color: $color-black;
  }

  .intro__text {
    margin-bottom: 49px;
    margin-left: 1px;

    font-size: 20px;
    line-height: 20px;
    color: $color-black;
  }

  .intro__picture {
    position: absolute;
    top: 202px;
    left: -1px;
    z-index: -1;
  }

  .intro__link {
    max-width: 244px;
    width: 100%;
    margin-left: 1px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 20px;
    line-height: 20px;
  }
}

/* =====================================================================================
Media min-width: 1300px*/
@media (min-width: $desktop-width) {
  .intro {
    padding-bottom: 269px;

    &::before {
      left: auto;

      display: block;
      width: 50%;
      min-height: 696px;

      background-image: url("../img/index-background-desktop@1x.jpg");
    }
  }

  .intro__inner {
    padding-top: 168px;
    padding-left: 79px;
  }

  .intro__text {
    margin-bottom: 53px;
  }

  .intro__picture {
    position: absolute;
    top: 89px;
    left: 450px;
    z-index: -1;
  }
}
