/* =====================================================================================
Media min-width: 1300px*/
@media (min-width: $desktop-width) {
  .main-page {
    position: relative;

    .header {
      position: absolute;
      top: 56px;
      right: 0;
      z-index: 200;

      width: 100%;
    }

    .main-nav__list-link {
      color: $color-white;

      &:hover {
        color: rgba($color-white, 0.6);
      }

      &:focus {
        color: rgba($color-white, 0.6);
      }

      &:active {
        color: rgba($color-white, 0.3);
      }
    }

    .main-nav__list-link--active::after {
      content: "";
      position: absolute;
      bottom: -9px;
      left: 0;

      height: 2px;
      width: 100%;

      background-color: $color-white;
    }
  }
}
