.main-nav {
  position: relative;
}

.main-nav__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style: none;
}

.main-nav__list-item {
  padding-top: 22px;
  padding-bottom: 22px;

  text-align: center;

  border-top: 1px solid $color-grey;

  &:last-child {
    border-bottom: 1px solid $color-grey;
  }
}

.main-nav__list-link {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.6px;
  color: $color-black;
  text-transform: uppercase;

  &:hover {
    color: rgba($color-black, 0.6);
  }

  &:focus {
    color: rgba($color-black, 0.6);
  }

  &:active {
    color: rgba($color-black, 0.3);
  }
}

.main-nav__toggle {
  position: absolute;
  top: -51px;
  right: 0;

  width: 40px;
  height: 30px;
  margin-right: 12px;

  background: transparent;
  border: none;
  outline: none;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__bar::before {
  position: absolute;
  left: 0;
  top: -8px;
  content: "";

  width: 24px;
  height: 2px;
}

.main-nav__bar::after {
  position: absolute;
  left: 0;
  top: 8px;

  content: "";
  width: 24px;
  height: 2px;
}

.main-nav--closed {
  .main-nav__bar {
    position: relative;

    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 2px;

    background-color: $color-black2;
  }

  .main-nav__bar::before {
    background-color: $color-black2;
    transition: transform 0.1s ease-in, top 0.1s linear 0.1s;
  }

  .main-nav__bar::after {
    background-color: $color-black2;
    transition: transform 0.1s ease-in, top 0.1s linear 0.1s;
  }
}

.main-nav--opened {
  .main-nav__toggle {
    position: absolute;
    top: -36px;
    right: -8px;
  }

  .main-nav__bar {
    background-color: transparent;
  }

  .main-nav__bar::before {
    top: 0;

    background-color: $color-black2;
    transform: rotate(45deg);
    transition: top 0.1s linear, transform 0.1s ease-in 0.1s;
  }

  .main-nav__bar::after {
    top: 0;

    background-color: $color-black2;
    transform: rotate(-45deg);
    transition: top 0.1s linear, transform 0.1s ease-in 0.1s;
  }
}

/* =====================================================================================
Media max-width: 768px*/
@media (max-width: $mobile-width-only) {
  .main-nav--closed {
    .main-nav__list {
      display: none;
    }
  }

  .main-nav--nojs {
    .main-nav__toggle {
      display: none;
    }

    .main-nav__list {
      display: block;
    }
  }
}

/* =====================================================================================
Media min-width: 768px*/
@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    width: 440px;
  }

  .main-nav__list-item {
    padding: 0;
    border: none;

    &:last-child {
      border-bottom: none;
    }
  }

  .main-nav__list-link {
    position: relative;

    font-size: 18px;
    line-height: 25px;
    letter-spacing: normal;
  }

  .main-nav__list-link--active::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;

    height: 2px;
    width: 100%;

    background-color: $color-green;
  }
}

/* =====================================================================================
Media min-width: 1300px*/
@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 479px;
  }

  .main-nav__list-link {
    font-size: 20px;
  }
}
