.social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-right: 103px;
  padding-bottom: 19px;
  padding-left: 93px;

  list-style: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
