.container {
  width: $mobile-width;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    max-width: $tablet-width;
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: $desktop-width;
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
    padding-right: 40px;
    padding-bottom: 0;
    padding-left: 40px;
  }
}
