$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

$color-white: #ffffff;
$color-smoky-white: #f2f2f2;

$color-grey: #ebebeb;
$color-light-grey: #d9d9d9;
$color-light-grey2: #eaeaea;

$color-black: #111111;
$color-bluish-black: #444444;

$color-green: #68b738;
$color-green-grass: #5eaa2f;
