$mobile-width: 320px;
$tablet-width: 768px;
$mobile-width-only: 767px;
$desktop-width: 1300px;

$color-border-hover: #cdcdcd;

$color-white: #ffffff;
$color-smoky-white: #f2f2f2;

$color-grey: #ebebeb;
$color-grey2: #ededed;
$color-grey3: #666666;
$color-grey4: #e6e6e6;
$color-grey5: #dcdcdc;
$color-light-grey: #d9d9d9;
$color-light-grey2: #eaeaea;

$color-black: #111111;
$color-black2: #222222;
$color-bluish-black: #444444;

$color-green: #68b738;
$color-green2: #71b548;
$color-green-grass: #5eaa2f;
